<div class="rows {{html["theme"]}}_primary_200 bg_{{html["theme"]}}_primary_900">
  <div class="spacer"></div>
  <div class="columns">
    <div class="spacer"></div>
    <div class="rows">
      <div class="spacer"></div>
      <img class="wow_icon" src="{{icon}}" alt="{{name}} Icon">
      <h1>{{name}}</h1>
      <div class="spacer"></div>
    </div>
    <div class="rows">
      <div class="spacer"></div>
      <div class="pad">(<a class="mono" href="index.html">back</a>)</div>
      <div class="spacer"></div>
    </div>
    <div class="rows">
      <div class="spacer"></div>
      <div class="hmargin">
        Macros for each class's specialization are either gleaned from the
        talent tree itself (using the
        <a class="mono" href="https://pypi.org/project/blizzard-api/">blizzard-api</a>
        Python package) or have been manually curated. Not every specialization
        needs a "multiplex macro" for even a single talent row, so a "Generated"
        section may not be present.
      </div>
      <div class="spacer"></div>
    </div>
    <hr class="bg_{{html["theme"]}}_primary_200">
    <div class="columns">
      <div class="rows">
        <div class="spacer"></div>
        <h2>
          Generic Macros
          (<a class="mono" href="add_macro.html?class=generic">add_new</a>)
        </h2>
        <div class="spacer"></div>
      </div>
      {% if generic %}
      {% for item in generic %}
      <div class="rows">
        <div class="spacer"></div>
        <div class="columns">
          <div class="spacer"></div>
          <h3>{{item["name"]}}</h3>
          <div class="spacer"></div>
        </div>
        <img class="wow_icon"
             src="https://render-us.worldofwarcraft.com/icons/56/{{item["icon"]}}.jpg"
             alt="'{{item["icon"]}}' Icon for Generic '{{item["name"]}}'">
        <div class="columns">
          <div class="spacer"></div>
          <button onclick="copy_macro('generic_{{loop.index}}')" type="button"
                  class="mono">Copy Macro</button>
          <div class="spacer"></div>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="rows">
        <div class="spacer"></div>
        <textarea readonly cols="80" rows="4" id="generic_{{loop.index}}"
         class="mono {{html["theme"]}}_primary_200 bg_{{html["theme"]}}_primary_700">
        </textarea>
        <div class="spacer"></div>
      </div>
      {% endfor %}
    </div>
    <hr class="bg_{{html["theme"]}}_primary_200">
    {% endif %}
    <div class="columns">
    {% for spec in specs %}
      <div class="rows">
        <div class="spacer"></div>
        <img class="wow_icon" src="{{spec["icon"]}}" alt="{{name}} {{spec["name"]}} Icon">
        <h2>{{spec["name"]}} ({{spec["role"]}})</h2>
        <div class="spacer"></div>
      </div>
      <div class="rows">
        <div class="spacer"></div>
        <h3>
          Manually Added
          (<a class="mono" href="add_macro.html?class={{slug}}&spec={{spec["slug"]}}">add_new</a>)
        </h3>
        <div class="spacer"></div>
      </div>
      {% if spec["slug"] in global and global[spec["slug"]] %}
      {% for item in global[spec["slug"]] %}
      <div class="rows">
        <div class="spacer"></div>
        <div class="columns">
          <div class="spacer"></div>
          <h3>{{item["name"]}}</h3>
          <div class="spacer"></div>
        </div>
        <img class="wow_icon"
             src="https://render-us.worldofwarcraft.com/icons/56/{{item["icon"]}}.jpg"
             alt="'{{item["icon"]}}' Icon for {{spec["name"]}} '{{item["name"]}}'">
        <div class="columns">
          <div class="spacer"></div>
          <button onclick="copy_macro('{{spec["slug"]}}_{{loop.index}}')" type="button"
                  class="mono">Copy Macro</button>
          <div class="spacer"></div>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="rows">
        <div class="spacer"></div>
        <textarea readonly cols="80" rows="4" id="{{spec["slug"]}}_{{loop.index}}"
         class="mono {{html["theme"]}}_primary_200 bg_{{html["theme"]}}_primary_700">
        </textarea>
        <div class="spacer"></div>
      </div>
      {% endfor %}
      {% endif %}
      {% if spec["has_macros"] %}
      <div class="rows">
        <div class="spacer"></div>
        <h3>Generated</h3>
        <div class="spacer"></div>
      </div>
      {% for row in spec["talent_rows"] %}
      {% if row["macro"] %}
      <div class="rows">
        <div class="spacer"></div>
        <h4>Level {{row["level"]}} Row ({{row["index"]}})</h4>
        <div class="spacer"></div>
      </div>
      <div class="rows">
        <div class="spacer"></div>
        {% for talent_idx, talent_data in row["talents"].items() %}
        <div class="columns">
          <div class="spacer"></div>
          <div class="mono"><b>{{talent_idx}}</b></div>
          <div class="spacer"></div>
        </div>
        {% if talent_data["active"] %}
        <img class="wow_icon highlighted" src="{{talent_data["icon"]}}"
             alt="{{name}} {{talent_data["name"]}} Icon">
        {% else %}
        <div class="columns">
          <div class="spacer"></div>
          <img class="wow_icon" src="{{talent_data["icon"]}}"
               alt="{{name}} {{talent_data["name"]}} Icon">
          <div class="spacer"></div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="columns">
          <div class="spacer"></div>
          <button onclick="copy_macro('{{slug}}_{{spec["slug"]}}_{{row["level"]}}')"
                  type="button" class="mono">Copy Macro</button>
          <div class="spacer"></div>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="rows">
        <div class="spacer"></div>
        <textarea readonly cols="80" rows="4" id="{{slug}}_{{spec["slug"]}}_{{row["level"]}}"
         class="mono {{html["theme"]}}_primary_200 bg_{{html["theme"]}}_primary_700">
        </textarea>
        <div class="spacer"></div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <hr class="bg_{{html["theme"]}}_primary_200">
    {% endfor %}
    </div>
    <div class="spacer"></div>
  </div>
  <div class="spacer"></div>
</div>
<script>
  function copy_macro(elem_id) {
    let elem = document.getElementById(elem_id);
    elem.select();
    elem.setSelectionRange(0, 255);
    document.execCommand("copy");
    console.log(`copied '${elem_id}'`);
  }

  let elem;
  let inner

  {% if generic %}
  {% for item in generic %}
  elem = document.getElementById("generic_{{loop.index}}");
  if (elem != null) {
    inner = "";
    {% for line in item["lines"] %}
    inner += "{{line}}"{% if loop.index != loop.length %} + String.fromCharCode(13, 10){% endif %};
    {% endfor %}
    elem.innerHTML = inner;
  }
  {% endfor %}
  {% endif %}

  {% for spec in specs %}
  {% for row in spec["talent_rows"] %}
  elem = document.getElementById("{{slug}}_{{spec["slug"]}}_{{row["level"]}}");
  if (elem != null) {
    inner = "";
    {% for line in row["macro_lines"] %}
    inner += "{{line}}"{% if loop.index != loop.length %} + String.fromCharCode(13, 10){% endif %};
    {% endfor %}
    elem.innerHTML = inner;
  }
  {% endfor %}

  {% if spec["slug"] in global %}
  {% for item in global[spec["slug"]] %}
  elem = document.getElementById("{{spec["slug"]}}_{{loop.index}}");
  if (elem != null) {
    inner = "";
    {% for line in item["lines"] %}
    inner += "{{line}}"{% if loop.index != loop.length %} + String.fromCharCode(13, 10){% endif %};
    {% endfor %}
    elem.innerHTML = inner;
  }
  {% endfor %}
  {% endif %}
  {% endfor %}
</script>
