<div class="rows" style="height:100%;">
  <div class="spacer"></div>
  <div class="columns">
    <div class="spacer"></div>
    <h1 class="center">Useful Macros</h1>
    <div class="mono">
      {% for key in classes["keys"] %}
      <a href="{{key}}.html">{{key}}</a><br>
      {% endfor %}
    </div>
    <div class="spacer"></div>
  </div>
  <div class="spacer"></div>
</div>
