<div class="rows {{html["theme"]}}_primary_200 bg_{{html["theme"]}}_primary_900">
  <div class="spacer"></div>
  <div class="columns">
    <div class="spacer"></div>
    <h1 class="center">Useful Macros</h1>
    <div class="rows">
      <a href="add_macro.html">
        <img class="wow_icon"
             src="https://render-us.worldofwarcraft.com/icons/56/inv_scroll_03.jpg"
             alt="Add New Icon">
      </a>
      <div class="mono columns">
        <div class="spacer"></div>
        <a href="add_macro.html">add_new</a>
        <div class="spacer"></div>
      </div>
    </div>
    {% for key in classes["keys"] %}
    <div class="rows">
      <a href="{{key}}.html">
        <img class="wow_icon" src="{{global[key]["icon"]}}" alt="{{global[key]["name"]}} Icon">
      </a>
      <div class="mono columns">
        <div class="spacer"></div>
        <a href="{{key}}.html">{{key}}</a>
        <div class="spacer"></div>
      </div>
    </div>
    {% endfor %}
    <div class="spacer"></div>
  </div>
  <div class="spacer"></div>
</div>
