iframe {
    border: 0;
}

.svg-container {
    padding: 1em;
    border: solid 2px;
    background-image:
        linear-gradient(45deg, #808080 25%, #11111111 25%),
        linear-gradient(-45deg, #808080 25%, #11111111 25%),
        linear-gradient(45deg, #11111111 75%, #808080 75%),
        linear-gradient(-45deg, #11111111 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: relative;
}

.center-col-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.half-size-rect {
    width: 960px;
    height: 540px;
}

.half-size-square {
    width: 960px;
    height: 960px;
}

.quarter-size-square {
    width: 480px;
    height: 480px;
}

.full-size-rect {
    width: 1920px;
    height: 1080px;
}

.anchored {
    position: absolute;
}
