.rows {
  display: flex;
  flex-direction: row;
}

.columns {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.pad {
  padding: 0.5em;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

body {
  overflow: hidden;
}

body > * {
  overflow-y: scroll;
  height: 100%;
}
