.rows {
  display: flex;
  flex-direction: row;
}

.columns {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.pad {
  padding: 0.5em;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

body {
  overflow: hidden;
}

body > * {
  overflow-y: scroll;
  height: 100%;
}

.hmargin {
  margin: 0 1em;
}

.vmargin {
  margin: 1em 0;
}

hr {
  width: 100%;
  height: 2px;
  min-height: 2px;
  margin: 1em 0;
  padding: 0;
  border: 0;
}

.highlighted {
  border: 0.25em solid lime;
}

.wow_icon {
  max-height: 56px;
  max-width: 56px;
  margin: 0.5em;
}
