a:link {
  color: #f5f5f5;
}

a:visited {
  color: #9d9d9d;
}

a:hover {
  color: #434343;
}

a:active {
  color: #f5f5f5;
}

button {
  color: #d9d9d9;
  background-color: #262626;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

button:hover {
  background-color: #434343;
}

button:active {
  background-color: #555555;
}
