<!-- body -->
<rect x="{{logo.x_offset + (pin_width / 2)}}" y="{{logo.y_offset + (pin_width / 2)}}"
      rx="{{pin_height}}" ry="{{pin_height}}"
      width="{{body_side}}" height="{{body_side}}"
      fill="{{logo.body.color}}" />

