{% extends __templates__["template.svg"] %}
{% block svg_body %}

    <!-- background -->
    <rect x="{{svg.x_offset}}" y="{{svg.y_offset}}"
          width="{{svg.width}}" height="{{svg.height}}"
          style="fill:{{macros.get_color(logo.background.color, color)}}" />
{% endblock svg_body %}
