
<!-- left pins -->
<rect x="20" y="77.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />
<rect x="20" y="117.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />
<rect x="20" y="157.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />
<rect x="20" y="197.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />

<!-- right pins -->
<rect x="220" y="77.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />
<rect x="220" y="117.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />
<rect x="220" y="157.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />
<rect x="220" y="197.5" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.width}}" height="{{logo.pin.height}}" fill="{{logo.pin.color}}" />

<!-- top pins -->
<rect x="77.5" y="220" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />
<rect x="117.5" y="220" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />
<rect x="157.5" y="220" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />
<rect x="197.5" y="220" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />

<!-- bottom pins -->
<rect x="77.5" y="20" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />
<rect x="117.5" y="20" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />
<rect x="157.5" y="20" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />
<rect x="197.5" y="20" rx="{{logo.pin.radius}}" ry="{{logo.pin.radius}}"
    width="{{logo.pin.height}}" height="{{logo.pin.width}}" fill="{{logo.pin.color}}" />

<!-- body -->
<rect x="50" y="50" rx="{{logo.pin.height}}" ry="{{logo.pin.height}}"
    width="{{logo.body.side}}" height="{{logo.body.side}}" fill="black" />

<!-- symbol -->
<line x1="70" y1="150" x2="105" y2="110"
    stroke-linecap="round" style="stroke:white;stroke-width:{{logo.symbol.stroke}}" />
<line x1="70" y1="150" x2="105" y2="190"
    stroke-linecap="round" style="stroke:white;stroke-width:{{logo.symbol.stroke}}" />
<line x1="230" y1="150" x2="195" y2="110"
    stroke-linecap="round" style="stroke:white;stroke-width:{{logo.symbol.stroke}}" />
<line x1="230" y1="150" x2="195" y2="190"
    stroke-linecap="round" style="stroke:white;stroke-width:{{logo.symbol.stroke}}" />
<line x1="150" y1="150" x2="175" y2="100"
    stroke-linecap="round" style="stroke:white;stroke-width:{{logo.symbol.stroke}}" />
<line x1="150" y1="150" x2="125" y2="200"
    stroke-linecap="round" style="stroke:white;stroke-width:{{logo.symbol.stroke}}" />
